<p>car-edit works!</p>
<div class="container custom-container">
    <div class="col-md-12">
      <h3 class="mb-3 text-center">Create Employee</h3>
      <div class="form-group">
        <input type="text" [(ngModel)]="carDetails.brand" class="form-control" placeholder="Car Brand">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="carDetails.model" class="form-control" placeholder="Car Model">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="carDetails.year" class="form-control" placeholder="Year">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="carDetails.type" class="form-control" placeholder="Car Type">
      </div>
      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="updateCar()">Create Cars</button>
      </div>
    </div>
</div>
