<div>
  <span>Today is:{{dob|date}}</span><br/>
  <span>Today is:{{dob|date:'short'}}</span><br/>
  <span>Today is:{{dob|date:'shortDate'}}</span><br/>
  <span>Upper Case:</span>Last Name: {{content|uppercase}}<br/>
  <span>Lower Case:</span> City: {{content|lowercase}}<br/>
  <span>Currency:</span>You have shopped worth {{amount|currency}}<br/>
  <span>Currency:</span>You have shopped worth {{amount|currency:'INR'}}<br/>
  <span>Currency:</span>You have shopped worth {{amount|currency:'EUR'}}<br/>
  <span>Currency:</span>You have shopped worth {{amount|currency:'GBP'}}<br/>
  <span>Value of PI is {{ pi | number}}</span><br/>
  <span>Value of PI is {{ pi | number:'4.1-5'}}</span><br/> 
  <span>Profit Percentage is {{ profitPer | percent}}</span><br/>
  <span>Profit Percentage is {{ profitPer | percent:'4.3-5'}}</span><br/>
</div>